<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
  <style>
      li {
          display: flex;
          /* align-content:space-between; */
          /* justify-content:space-between */
      }
      button {
          margin-left: 10px;
          margin-right: 10px
      }
      .time {
          font-size: 10px;
          font-style: italic
      }
  </style>
</head>
<body style="font-size:20px; padding:50px;">
<header>
    <% include ./partials/_header %>
</header>
    <h3>My Shorted URLs</h3>
<br>
    <div>
        <% if(urls) {%>
            <%for ( var key in urls) {%>
                <li>
                    <b><%= key %></b> &rarr; <a><%= urls[key].longURL %></a>
                    <form method="GET" action="/urls/<%= key %>">
                        <button type="submit" >Edit</a></button>
                    </form>
                    <form method="POST" action="/urls/<%= key %>/delete">
                        <button type="submit" >Delete</button>
                    </form>
                    <div class = "time">
                    CREATED on <%= urls[key].createdOn %>
                </div>
                </li>
                <br>
                <%}%>
                <li>
                    <form action="/urls/new" method="GET">
                        <a href="/urls/new">Create a New Short Link</a>
                    </form>
                </li>
        <%}%>
    </div>
</ul>
</body>
</html>
